<div class="row" *ngIf="event">
  <ng-container>
    <div class="row ev-title" [ngStyle]='{background:eventTitleBg}'>
      <div class="col-xs-12">
        <span>{{event.title}}</span>
      </div>
    </div>
    <div class="row event-history">
      <div>
        <label>
          <i class="fa fa-clock-o">&nbsp;</i>Created On:</label>
        <span>{{event.whenCreated | date : 'medium'}}</span>
      </div>
      <div>
        <label>
          <i class="fa fa-clock-o">&nbsp;</i> Last Updated:</label>
        <span>{{event.whenLastUpdated | date : 'medium'}}</span>
      </div>
      <div class="pull-right" *ngIf="!isInEdit">
        <button class="btn btn-info" (click)="enableEdit()">
          <i class="fa fa-pencil">&nbsp;</i>Edit</button>
        <button class="btn btn-danger" (click)="redirectToList()">
          <i class="fa fa-times">&nbsp;</i>Close</button>
      </div>
    </div>
  </ng-container>
  <ng-container>
    <div class="row">
        <div class="col-xs-12">
            <label>Description:</label>
            <span>{{event.description}}</span>
          </div>
      
          <div class="col-xs-12">
            <label>Duration:</label>
            <span>{{event.duration | timeconverter}} </span>
          </div>
          <div class="col-xs-12">
            <label>Event Date And Time:</label>
            <span>{{event.startDateAndTime | date : 'medium'}}</span>
          </div>
    </div>
    

  </ng-container>
  <ng-container *ngIf="eventForm">
    <app-modal [show]="isInEdit">
      <app-modal-header>Edit Event</app-modal-header>
      <app-modal-body>
        <form [formGroup]="eventForm">
          <div class="col-xs-12">
            <label>Title</label>
            <input class="form-control" type="text" formControlName="title" />
          </div>
          <div class="col-xs-12">
            <label>Description</label>
            <textarea class="form-control" cols="10" resizable="false" type="text" formControlName="description"></textarea>
          </div>
          <div class="col-xs-12">
            <label>Event Date And Time</label>
            <input class="form-control" type="datetime-local" formControlName="startDateAndTime" />
          </div>
          <div class="col-xs-12">
            <label>Duration(min)</label>
            <input class="form-control" type="text" formControlName="duration" />
          </div>

        </form>
      </app-modal-body>
      <app-modal-footer>
        <div class="col-xs-12 pull-right">
          <button class="btn btn-success" (click)="save()">
            <i class="fa fa-save">&nbsp;</i>Save</button>
          <button class="btn btn-danger" (click)="cancel()">
            <i class="fa fa-times">&nbsp;</i>Cancel</button>
        </div>
      </app-modal-footer>
    </app-modal>

  </ng-container>
</div>
<div class="row">
  <app-comments></app-comments>
</div>