/* You can add global styles to this file, and also import other style files */

textarea {
    resize: none;
    height: 120px !important;
}

.empty-row {
    text-align: center;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: rgba(13, 99, 179, 0.1);
}

.footer {
    background: #79018d;
    text-align: center;
    color: white;
    padding: 15px 12px;
    position: absolute;
    margin-top: 40px;
}

.modal-header {
    font-weight: 700;
    font-size: 18px;
}