<div class="row">
  <div class="col-xs-12 comments">
    <span>Comments</span>
  </div>
  <div class="col-xs-12 new-comment" *ngIf="showAddComment">
      <textarea class="reply-text" placeholder="write your comment" [(ngModel)]="commentMessage"></textarea>
      <button type="button" class="btn btn-success" (click)="post()">
        <i class="fa fa-send-o">&nbsp;</i>Post</button>
      <button type="button" class="btn btn-default" (click)="setShowAddCommentPanelState(false)">
        <i class="fa fa-comment-o">&nbsp;</i>Cancel</button>
    </div>
    <div class="col-xs-12" *ngIf="!showAddComment">
      <button type="button" class="btn btn-default" (click)="setShowAddCommentPanelState(true)">
        <i class="fa fa-comment-o">&nbsp;</i>Add Comment</button>
    </div>
  <div class="col-xs-12">
    <div *ngFor="let comment of comments" class="main-comment">
      <app-view-comment [comment]="comment" [rootId]="rootId"></app-view-comment>
    </div>
  </div>
</div>