<div class="row">
  <div class="col-xs-12 comments">
    <span>Comments</span>
  </div>
  <div class="col-xs-12">
    <div *ngFor="let comment of comments" class="comment">
      <div class="author-time">
        <span>
          <i class="fa fa-user">&nbsp;</i>{{comment.author}}</span>
        <span class="pull-right">
          <i class="fa fa-clock-o">&nbsp;</i>{{comment.whenAdded |date:'medium'}}</span>
      </div>
      <div class="message">
        <span>{{comment.message}}</span>
      </div>
      <div class="event-react">
        <a class="fa fa-thumbs-o-up"> &nbsp;Like</a>
        <a class="fa fa-share"> &nbsp;Share</a>
      </div>
    </div>
  </div>
  <div class="col-xs-12" *ngIf="showAddComment">
    <textarea class="form-control" placeholder="write your comment" [(ngModel)]="commentMessage"></textarea>
    <button type="button" class="btn btn-success" (click)="post()">
      <i class="fa fa-send-o">&nbsp;</i>Post</button>
    <button type="button" class="btn btn-default" (click)="setShowAddCommentPanelState(false)">
      <i class="fa fa-comment-o">&nbsp;</i>Cancel</button>
  </div>
  <div class="col-xs-12" *ngIf="!showAddComment">
    <button type="button" class="btn btn-default" (click)="setShowAddCommentPanelState(true)">
      <i class="fa fa-comment-o">&nbsp;</i>Add Comment</button>
  </div>

</div>